{% extends 'base.html' %}

{% block content %}
    <h2>Log In</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class='form-control') }}
            {% for error in form.email.errors %}
                {% if error %}
                { form.email(class='form-control form-control-lg is-invalid') }
                    <span class="text-danger">{{ error }}</span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password(class='form-control') }}
            {% for error in form.password.errors %}
                {%if error %}
                    <span class="text-danger">{{ error }}</span>
                {% endif %}
            {% endfor %}
        </div>
        {{ form.submit(class='btn btn-primary') }}
        <small class="text-muted">
            <a href="{{url_for('reset_request')}}"> Forgot Password </a>
        </small>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{{url_for('signup')}}">SIGN Up</a>
            </small>
        </div>
    </form>
{% endblock %}
