{% extends 'base.html' %}
{% block content %}
    <h2>Reset password</h2>
    <form method="POST" action="{{ url_for('reset_password') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class='form-control') }}
            {% for error in form.email.errors %}
                {% if error %}
                { form.email(class='form-control form-control-lg is-invalid') }
                    <span class="text-danger">{{ error }}</span>
                {% endif %}
            {% endfor %}
        </div>
            {{ form.submit(class='btn btn-primary') }}
        </form>
    {% endblock %}